*.swp
.idea/
/vendor/
.vagrant/
/puphpet/
/Vagrantfile
/app/cache/*
!/app/cache/.gitkeep
/app/logs/*
!/app/logs/.gitkeep
/app/config/parameters.yml
/bin/*
/web/css/*
/web/js/*
/web/assetic/*
/web/bundles/*